{% extends 'base_item.html' %}
{% block item_content %}



    <div class="list-group list-group-flush mt-3">
        {% for item in items %}
            <a href="{% url 'item' id=item.id %}" class="list-group-item list-group-item-action shadow mb-1">
                <div class="d-flex">
                    <div>
                        <img src="{{ item.image.url }}"
                             alt="" height="150">
                    </div>
                    <div class="d-flex w-100 justify-content-around flex-column ms-3">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ item.name }}</h5>
                            {#                                    <small>3 days ago</small>#}
                        </div>
                        <p class="mb-1">{{ item.description|truncatewords_html:25 }}</p>
                        <b>{{ item.price }} руб.</b></div>
                </div>

            </a>

        {% endfor %}

    </div>



{% endblock %}